@import '~jsoneditor-react/es/editor.min.css';
@import '~antd/dist/antd.css';

#app {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

#app>div {
  width: 50%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#app>div:first-child {
  border-right: 1px solid #808080;
}

.json-editor {
  height: 100%;
  margin-top: 8px;
  min-height: 0;
}

.json-editor>div {
  height: 100%;
}

.dataset {
  margin-top: 8px;
  max-height: 200px;
  flex-shrink: 0;
  overflow: auto;
  border: 1px solid #dcdee2;
}

.dataset table {
  border-collapse: collapse;
  text-align: center;
}

.dataset tbody {
  position: sticky;
  top: 0;
}

.dataset th,
.dataset td {
  border: 1px solid #dcdee2;
  padding: 4px;
}

.dataset th,
.dataset tr:nth-child(2n) {
  height: 48px;
  background: #f8f8f9;
}

.hint {
  text-align: center;
  padding: 8px;
}

.svg-container {
  flex-grow: 1;
  min-height: 0;
}

.svg-container svg {
  width: 100%;
  height: 100%;
}

.bounding-box-container {
  position: fixed;
  left: 0;
  top:0;
  opacity: 0.2;
  pointer-events: none;
}

.bounding-box {
  position: fixed;
  z-index: 666;
  background: blue;
  box-sizing: border-box;
  padding: 0 !important;
  margin: 0 !important;
}

.preview {
  cursor: pointer;
}